@page
@model IT2163_07.Pages.ResetPasswordModel
@{
}
@using AspNetCore.ReCaptcha

<div class="container full-wo-footer">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form id="#register-form" method="post">
        <div class="row"  style="height:400px;">
            <div class="col" style="background-image:url(/assets/images/forgot-password.jpg);background-size:cover;display:flex;align-items:center;">
            </div>
            <div class="col">
                <h2 class="mb-3">Reset Password</h2>
                <input asp-for="ResetPassword.Code" type="hidden" />
                <input asp-for="ResetPassword.Email" type="hidden" />

                <div class="form-floating">
                    <label asp-for="ResetPassword.Password"></label>
                    <input type="password" asp-for="ResetPassword.Password" class="form-control" aria-required="true" />
                    <span id="password-validation" asp-validation-for="ResetPassword.Password" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <label asp-for="ResetPassword.ConfirmPassword"></label>
                    <input type="password" asp-for="ResetPassword.ConfirmPassword" class="form-control" aria-required="true" />
                    <span asp-validation-for="ResetPassword.ConfirmPassword" class="text-danger"></span>
                </div>

                <button id="register-submit" type="button" class="w-100 filled-button mt-2 "> Reset Password</button>
                @Html.ReCaptcha()
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        $(document).ready(()=>{
            var regexPwd = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[#?!@@$%\^&\*\-])(?=.{12,})");
            
            $("#register-submit").click(()=>{
                var res = regexPwd.test($("#password-input").val());
                if(res){
                    $("#register-form").submit();
                }else{
                    $("#password-validation").text("Password requires At least one upper case, at least one lower case, at least one digit, at least one special character (#?!@@$%^&*-), minimum 12 characters");
                }
            });

        });
    </script>
}